body{
    z-index: 3;
    text-align: center;
    background: linear-gradient(#cfc32d 0%,#1f7c8f 100%);
    font-family: 'Itim', cursive;
}

html{
     scroll-behavior: smooth 
}

.kbox{
    text-align: center;
}

.ulbox{
    top:0;
    z-index: 3;
    cursor: pointer;
    background-color: rgb(144, 0, 255);
    width: 100%;
    margin-top: 0px;
    position: absolute;
}



.links{
    display: inline;
    padding: 10px;
    font-size: 17px;
    color: black;
    font-family: 'Potta One', cursive;
}

.links:hover{
    background-color:black;
}

#k1section{
    padding-top: 75px;
}

#stevejobs{
    height: 375px;
    width: 300px;
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

#panasonic{
    height: 375px;
    width: 300px;
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}

stevejobs:hover{
    transform: scale(0.9);
}

img:hover{
    transform: scale(0.9);
}

#email{
    height: 75px;
    width: 75px;
}

a{
    text-decoration: none;
    color:lightgoldenrodyellow;
}